 <% include ../partials/header %>
  <div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Address and Map featue will come here</p>
               <div class="list-group">
                    <li class="list-group-item active">info1</li>
                    <li class="list-group-item">info2</li>
                    <li class="list-group-item">info3</li>
               </div>
         </div> 
         
              <div class="col-md-9">
                 <div class="card mb-3">
             <img class="card-img-top" src="<%= restaurants.image %>" alt="<%= restaurants.name %>" style="height: 30rem;">
                 <div class="card-body">
                          <h6 class="float-right">$<%=restaurants.price%></h6>
                      <h5 class="card-title"><%= restaurants.name %></h5>
                         <p>
                             <em>Submitted by: <a href="/users/<%=restaurants.author.id %>"><%= restaurants.author.username %></a>, <%= moment(restaurants.createdAt).fromNow() %></em>
                          </p>
                          <hr>
                        <p class="card-text"><%= restaurants.description %></p>
                         <%if(currentUser && restaurants.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                                 <a class="btn btn-sm btn-warning" href="/restaurants/<%=restaurants._id%>/edit">Edit</a>
                             <form id="delete-form" action="/restaurants/<%=restaurants._id%>?_method=DELETE" method="POST" >
                                 <button class="btn btn-sm btn-danger">Delete</button>
                             </form>
                         <%}%>
            </div>
            </div>
        
                
<!--==================================================================-->
  <!--COMMENT SECTION START-->
<div class="card">
  <!--Setting up the add new comment button that is used for collapsing-->
 <div class="card-body">
    <a class="btn btn-success float-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
     <i class="fas fa-plus"></i> Add new comment</a>
     
 <!--Comment section title-->
  <h4 class="card-title">Comments <span class="fa fa-comment" aria-hidden="true"></span></h4>
</div>

  <!--Collapse Add a comment form START-->

  <div class="collapse" id="collapseComment">
    <div class="card" style="border-left: 5px solid #00C851;">
      <div class="card-body">
        <% if(!currentUser) { %>
      <!--If the user is not logged in, direct him to the login page-->
      <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
        <% } %>
        <% if(currentUser) { %>
      <!--If the user is logged in, show the new comment form-->
      <h4>Write your comment <span class="fa fa-pen" aria-hidden="true"></span></h4>
      
      <form id="add-comment-form" action="/restaurants/<%= restaurants._id %>/comments" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="3" cols="70"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-sm">Comment <span class="fa fa-comment" aria-hidden="true"></span></button>
        </div>
      </form>
        <% } %>
        </div>
    </div>
  </div>

  <!--Collapse Add a comment form END-->

 <hr>

  <!--Check if there are comments, if there are none say no comments.-->
    <% if (restaurants.comments.length === 0) { %>
  <em style="color: grey;" class="ml-3">No comments yet.</em>
    <% } %>
  <!--Display comments by looping through them-->

  <div class="row">
    <% restaurants.comments.forEach(function(comment) { %>
    <div class="col-md-12">
      <strong>
          <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
        <!--If the current user owns the comment, change the color of the user icon-->
        <span style="color: orange;" class="fa fa-user" aria-hidden="true"></span>
          <% } else { %>
        <!--Else just display it black-->
        <span class="fa fa-user" aria-hidden="true"></span>
          <% } %>
        <!--Print out the author username-->
          <%= comment.author.username %>
    </strong>
      <!--Show when the comment was made-->
      <p class="float-right mr-2"><%= moment(comment.createdAt).fromNow() %></p>

      <!--Printing the comment-->
      <p><%= comment.text %></p>
      <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
        <% if (currentUser && (currentUser._id.equals(comment.author.id) || currentUser.isAdmin)) { %>

<!--Edit button used for collapsing the edit comment form-->
    
      <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
        Edit</a>
      <!--Delete comment button-->
      <form id="delete-form" action="/restaurants/<%= restaurants._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>

      <!--Edit comment form-->
      <div class="collapse" id="collapseEdit<%= comment._id %>">
        <div class="card" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
          <div class="card-body">
          <h4>Edit your comment <span class="far fa-edit" aria-hidden="true"></span></h4>
          <form id="edit-comment-form<%= comment._id %>" action="/restaurants/<%= restaurants._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="3" cols="70"><%= comment.text %></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-warning btn-sm">Edit comment <span class="fa fa-comment" aria-hidden="true"></span></button>
            </div>
          </form>
          </div>
        </div>
      </div>
        <% } %>
      <hr>
    </div>
  <% }) %>
</div>
</div>
</div>
<!--COMMENT SECTION END-->

<!--if statmet-->
<!--somone is logged in (current user is present and the ids are equal)-->



<!--===============================================================-->
                 
                
 <% include ../partials/footer %>
                        

